################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleanArchitectureTemplate/v16/.suo
/.vs
/CleanArchitecture/.vs/CleanArchitecture/v16/.suo
/CleanArchitecture/CleanArchitecture.Mvc/obj
/CleanArchitecture/CleanArchitecture.Mvc/Properties
/CleanArchitecture/.vs/CleanArchitecture
/CleanArchitecture/CleanArchitecture.Mvc/bin/Debug/net5.0
/CleanArchitecture/CleanArchitecture.Domain/obj
/CleanArchitecture/CleanArchitecture.Domain,/obj
/CleanArchitecture/CleanArchitecture.Domainl/obj
/CleanArchitecture/CleanArchitecture.Domain/bin/Debug/net5.0/ref
/CleanArchitecture/CleanArchitecture.Domain/bin/Debug/net5.0
/CleanArchitecture/Infostructure,/bin/Debug/net5.0
/CleanArchitecture/Infostructure,/obj/Debug
/CleanArchitecture/Infostructure,/obj
/CleanArchitecture/Infostructure.Data/bin/Debug/net5.0
/CleanArchitecture/CleanArchitecture.Application/bin/Debug/net5.0
/CleanArchitecture/CleanArchitecture.Application/obj
